<div class="content">
  <!-- <div nz-col nzSpan="6"></div> -->
  <div nz-row class="form-page" nzJustify="space-around">
    <form nz-form nz-col nzSpan="18" [formGroup]="deliveryForm" class="delivery-form" (ngSubmit)="submitForm()">
      <div class="form-title">
        <h2>Delivery Form</h2>
      </div>

      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired nzFor="package_id">Package</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Please select the package!">
          <nz-input-group>
            <input placeholder='Select a package' nz-input formControlName="package_id" nzPlaceHolder="Select a package"
              (ngModelChange)="onPackageChange($event)" [nzAutocomplete]="autoPackage" />
            <nz-autocomplete #autoPackage>
              <nz-auto-option *ngFor="let s of filteredOptions" [nzValue]="s.package_id">
                {{s.description}} | {{s.package_id}}
              </nz-auto-option>
            </nz-autocomplete>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzRequired nzFor="status">Status</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Please select the status!">
          <input nz-input id="status" formControlName="status" nzPlaceHolder="Select a status"
            [nzAutocomplete]="autoStatus" />
          <nz-autocomplete #autoStatus>
            <nz-auto-option [nzValue]="'open'">Open</nz-auto-option>
            <nz-auto-option [nzValue]="'failed'">Failed</nz-auto-option>
            <nz-auto-option [nzValue]="'picked-up'">Picked-Up</nz-auto-option>
            <nz-auto-option [nzValue]="'in-transit'">In-transit</nz-auto-option>
          </nz-autocomplete>
        </nz-form-control>
      </nz-form-item>

      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="location_lat">Location latitude</nz-form-label>
            <nz-form-control [nzSpan]="16" nzErrorTip="Please input  the location latitude!">
              <nz-input-group>
                <input type="number" nz-input formControlName="location_lat" id="location_lat"
                  placeholder="To Location latitude" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="location_long">Location longitude</nz-form-label>
            <nz-form-control [nzSpan]="16" nzErrorTip="Please input  the to location longitude!">
              <nz-input-group>
                <input type="number" nz-input formControlName="location_long" id="location_long"
                  placeholder="Location longitude" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>


      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzFor="start_time">Start time</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Please input start time!">
          <nz-input-group>
            <nz-date-picker nzShowTime class="date-picker" nzFormat="yyyy-mm-dd hh:mm:ss" formControlName="start_time"
              id="start_time" placeholder="Delivery start time">
            </nz-date-picker>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzFor="end_time">End time</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Please input end time!">
          <nz-input-group>
            <nz-date-picker nzShowTime class="date-picker" nzFormat="yyyy-mm-dd hh:mm:ss" formControlName="end_time"
              id="end_time" placeholder="Delivery end time">
            </nz-date-picker>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzFor="pickup_time">Start time</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Please input pickup time!">
          <nz-input-group>
            <nz-date-picker nzShowTime class="date-picker" nzFormat="yyyy-mm-dd hh:mm:ss" formControlName="pickup_time"
              id="pickup_time" placeholder="Delivery pickuptime">
            </nz-date-picker>

          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <div nz-row nzJustify="end">
        <button nz-button class="package-form-button package-form-margin btn-success"
          [nzType]="'primary'">Submint</button>
      </div>

    </form>

  </div>
</div>
