<div class="content">
  <div nz-row class="tables-container">
    <div nz-col nzSpan="24">
      <h1>Package List</h1>
    </div>
    <div nz-col nzSpan="20">
      <div>
        <div>
          <nz-table #packagesTable [nzData]="listOfPackages" [nzScroll]="{ x: '1150px', y: '350px' }">
            <thead>
              <tr>
                <th nzLeft>Id</th>
                <th>Description</th>
                <th>Dimensions</th>
                <th>From address</th>
                <th>From location</th>
                <th>To location</th>
                <th>Expeditor</th>
                <th>Receiver</th>
                <th nzRight>Active delivery</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of packagesTable.data">
                <td nzLeft>{{data?.package_id}}</td>
                <td>{{data?.description}}</td>
                <td>width:{{data?.width}}; height:{{data?.height}}; weight:{{data?.weight}}; depth:{{data?.depth}} </td>
                <td>{{data?.from_address}}</td>
                <td>Lat: {{data?.from_location?.lat}}; Long: {{data?.from_location?.long}} </td>
                <td>Lat: {{data?.to_location.lat}}; Long: {{data?.to_location?.long}} </td>
                <td>{{data?.from_name}}</td>
                <td>{{data?.to_name}}</td>
                <td nzRight>{{data?.active_delivery_id}}</td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="4">
      <button nz-button nzType="primary" nzSize="large" class="btn-success" [routerLink]="['/create-package']">Create
        package</button>
    </div>
  </div>


  <div nz-row class="tables-container">
    <div nz-col nzSpan="24">
      <h1>Delivery List</h1>
    </div>
    <div nz-col nzSpan="20">
      <div>


        <nz-table #deliveriesTable [nzData]="listOfDeliveries" [nzScroll]="{ x: '1150px', y: '350px' }">
          <thead>
            <tr>
              <th>Id</th>
              <th>Pickup Time</th>
              <th>Start time</th>
              <th>Location</th>
              <th>End time</th>
              <th nzRight>Package Id</th>
              <th nzRight>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of deliveriesTable.data">
              <td >{{data.delivery_id}}</td>
              <td>{{data?.pickup_time | date: 'medium'}}</td>
              <td>{{data?.start_time | date: 'medium'}}</td>
              <td>Lat: {{data?.location?.lat}}; Long: {{data?.location?.long}} </td>
              <td>{{data?.end_time}}</td>
              <td nzRight>{{data?.package_id}}</td>
              <td nzRight>{{data?.status}}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
    <div nz-col nzSpan="4">
      <button nz-button nzType="primary" nzSize="large" class="btn-success" [routerLink]="['/create-delivery']">Create
        delivery</button>
    </div>
  </div>


</div>
