/* You can add global styles to this file, and also import other style files */
.content {
  min-height: 100vh;
  padding: 3rem
}

.table-container {
  min-height: calc(50vh);
  margin: 1.5rem;
}

.btn-success{
  background: #2e874d;
  border: black;
  color: black;
  border-radius: .5rem;
}

.btn-success:hover{
  background: #2e874d;
  border: black;
  color: white;
  border-radius: .5rem;
}

nz-form-item{
   margin-left: 1rem;
   margin-right: 1rem;
}
