<div class="content">
  <!-- <div nz-col nzSpan="6"></div> -->
  <div nz-row class="form-page" nzJustify="space-around">
    <form nz-form nz-col nzSpan="20" [formGroup]="packageForm" class="package-form" (ngSubmit)="submitForm()">
      <div class="form-title">
        <h2>Package Form</h2>
      </div>



      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="description">Description</nz-form-label>
            <nz-form-control nzErrorTip="Please Package description!">
              <nz-input-group>
                <input type="text" nz-input formControlName="description" id="description"
                  placeholder="Package description" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="weight">Weight</nz-form-label>
            <nz-form-control [nzSpan]="16" nzErrorTip="Please input  the Package weight">
              <nz-input-group>
                <input type="number" nz-input formControlName="weight" id="weight" placeholder="Package weight"  min="0"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="width">Width</nz-form-label>
            <nz-form-control [nzSpan]="16" nzErrorTip="Please input  the Package width!"  min="0">
              <nz-input-group>
                <input type="number" nz-input formControlName="width" id="width" placeholder="Package width"  min="0" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="height">Height</nz-form-label>
            <nz-form-control [nzSpan]="16" nzErrorTip="Please input  the Package height!">
              <nz-input-group>
                <input type="number" nz-input formControlName="height" id="height" placeholder="Package height"  min="0"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="depth">Depth</nz-form-label>
            <nz-form-control [nzSpan]="16" nzErrorTip="Please input  the Package depth">
              <nz-input-group>
                <input type="number" nz-input formControlName="depth" id="depth" placeholder="Package depth"  min="0"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="from_name">From name</nz-form-label>
            <nz-form-control [nzSpan]="16" nzErrorTip="Please input expeditor's name!">
              <nz-input-group>
                <input type="text" nz-input formControlName="from_name" id="from_name" placeholder="From name" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="10" nzFor="from_address">From address</nz-form-label>
            <nz-form-control [nzSpan]="16" nzErrorTip="Please input  expeditor's address!">
              <nz-input-group>
                <input type="text" nz-input formControlName="from_address" id="from_address"
                  placeholder="From address" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label [nzSpan]="10" nzFor="from_location_lat">From location latitude</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="Please input  the from location latitude!">
                  <nz-input-group>
                    <input type="number" nz-input formControlName="from_location_lat" id="from_location_lat"
                      placeholder="From Location latitude" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label [nzSpan]="10" nzFor="from_location_long">From location longitude</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="Please input  the from location longitude!">
                  <nz-input-group>
                    <input type="number" nz-input formControlName="from_location_long" id="from_location_long"
                      placeholder="From Location longitude" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label [nzSpan]="10" nzFor="to_name">To Name</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="Please input receiver's name!">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="to_name" id="to_name" placeholder="Receiver name" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label [nzSpan]="10" nzFor="to_address">To Address</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="Please input  receiver's address!">
                  <nz-input-group>
                    <input type="text" nz-input formControlName="to_address" id="to_address"
                      placeholder="Receiver address" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>


          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label [nzSpan]="10" nzFor="to_location_lat">To Location latitude</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="Please input  the to location latitude!">
                  <nz-input-group>
                    <input type="number" nz-input formControlName="to_location_lat" id="to_location_lat"
                      placeholder="To Location latitude" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label [nzSpan]="10" nzFor="to_location_long">To location longitude</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="Please input  the to location longitude!">
                  <nz-input-group>
                    <input type="number" nz-input formControlName="to_location_long" id="to_location_long"
                      placeholder="To Location longitude" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>

      <div nz-row nzJustify="end">
        <button nz-button class="package-form-button package-form-margin btn-success"
          [nzType]="'primary'">Submint</button>
      </div>

    </form>

  </div>
</div>
