.search-bar-input {
  width: calc(83vw - 11rem);
  height: 3rem;
  margin-left: 2rem;
}

.search-btn {
  height: 3rem;
  background: rgb(69, 142, 35);
  color: black;
  width: 6rem;
}

.map-area {
  height: 300px;
}

.search-form {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.action-btn {
  width: 10rem;
  border: 1 black;
}

.picked-up {
  background: lightskyblue;
}

.in-transit {
  background: darkgoldenrod;
}

.delivered {
  background: rgb(69, 142, 35);
}

.failed {
  background: rgb(218, 104, 104);
}

.p-2 {
  padding: 2rem;
}
