<div class="content">

  <div nz-row nzJustify="space-around">

    <!-- Search Form -->
    <div nz-col nzSpan="24">
      <div nz-row>
        <form nz-form [nzLayout]="'inline'" class="search-form p-2" [formGroup]="trackingForm"
          (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Package ID!">
              <nz-input-group>
                <input formControlName="package_id" nz-input class="search-bar-input" placeholder="Enter Package ID" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary" class="search-btn">Track</button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </div>
    <!-- End Search Form -->


    <div nz-col nzSpan="24">
      <div nz-row>

        <!-- Google Map -->
        <div nz-col nzSpan="24">
          <div nz-row>
            <div nz-col nzSpan="12" class="p-2">

              <div *ngIf="showDetails">
                <h3 [ngStyle]="{ 'margin-bottom.px': 16 }">Package details</h3>
                <nz-list nzBordered nzHeader="" nzFooter="">
                  <nz-list-item>
                    <span nz-typography><mark>Package ID</mark></span>
                    {{packageDetails.package_id}}
                  </nz-list-item>

                  <nz-list-item>
                    <span nz-typography><mark>Description </mark></span>
                    {{packageDetails.description}}
                  </nz-list-item>

                  <nz-list-item>
                    <span nz-typography><mark>Dimensions </mark></span>
                    width:{{packageDetails?.width}}; height:{{packageDetails?.height}};
                    weight:{{packageDetails?.weight}}; depth:{{packageDetails?.depth}}
                  </nz-list-item>

                  <nz-list-item>
                    <span nz-typography><mark>From address</mark></span>
                    {{packageDetails.from_address}}
                  </nz-list-item>

                  <nz-list-item>
                    <span nz-typography><mark>Source location</mark></span>
                    Lat: {{packageDetails?.from_location?.lat}}; Long: {{packageDetails?.from_location?.long}}
                  </nz-list-item>

                  <nz-list-item>
                    <span nz-typography><mark>Destination Location</mark></span>
                    Lat: {{packageDetails?.to_location.lat}}; Long: {{packageDetails?.to_location?.long}}
                  </nz-list-item>
                  <nz-list-item>
                    <span nz-typography><mark>Expeditor</mark></span>
                    {{packageDetails?.from_name}}
                  </nz-list-item>

                  <nz-list-item>
                    <span nz-typography><mark>Receiver</mark></span>
                    {{packageDetails?.to_name}}
                  </nz-list-item>

                </nz-list>
              </div>


              <div *ngIf="showDetails">
                <h3 [ngStyle]="{ 'margin-bottom.px': 16 }">Delivery details</h3>
                <nz-list nzBordered nzHeader="" nzFooter="">
                  <nz-list-item>
                    <span nz-typography><mark>Delivery ID</mark></span>
                    {{deliveryDetails.delivery_id}}
                  </nz-list-item>
                  <nz-list-item>
                    <span nz-typography><mark>Pickup time</mark></span>
                    {{deliveryDetails?.pickup_time | date: 'medium'}}
                  </nz-list-item>
                  <nz-list-item>
                    <span nz-typography><mark>Start time</mark></span>
                    {{deliveryDetails?.start_time | date: 'medium'}}
                  </nz-list-item>
                  <nz-list-item>
                    <span nz-typography><mark>Location</mark></span>
                    Lat: {{deliveryDetails?.location?.lat}}; Long: {{deliveryDetails?.location?.long}}
                  </nz-list-item>
                  <nz-list-item>
                    <span nz-typography><mark>End time</mark></span>
                    {{deliveryDetails?.end_time | date: 'medium'}}
                  </nz-list-item>
                  <nz-list-item>
                    <span nz-typography><mark>Package ID</mark></span>
                    {{deliveryDetails?.package_id}}
                  </nz-list-item>
                  <nz-list-item>
                    <span nz-typography><mark>Status</mark></span>
                    {{deliveryDetails?.status}}
                  </nz-list-item>
                </nz-list>
              </div>
            </div>

            <div nz-col nzSpan="12" class="map-area">
              <google-map height="500px" [zoom]="zoom" [center]="center" [options]="options">
                <map-marker [position]="deliveryPosition.position" [label]="deliveryPosition.label"
                  [title]="deliveryPosition.title" [options]="deliveryPosition.options">
                </map-marker>
                <map-marker [position]="source.position" [label]="source.label" [title]="source.title"
                  [options]="source.options">
                </map-marker>
                <map-marker [position]="destination.position" [label]="destination.label" [title]="destination.title"
                  [options]="destination.options">
                </map-marker>
              </google-map>
            </div>
          </div>
        </div>
        <!-- End Google Map -->
      </div>
    </div>
  </div>
</div>
